

/**
 This is the style sheet for the layout
 of the page
**/

.header_middle{
    float:left;
    width:100%;
    height:auto;
}
nav{
    float:left;
    background-color: #eeecff;
    border-bottom: solid 1px #975bb0;
    border-top: solid 3px #975bb0;
}
.right_pane{
    position: static;
    width:78%;
    height:255px;
    float:left;
    border-top: solid 3px #975bb0;
    background-color: #c09fd1;
    background-image: url(../img/waterfall.jpg);
}
.right_pane:hover{
    opacity:0.5;
}

header{
    width:100%;
    background-color: #ecf;
    margin-left:0;
    height:350px;
    overflow: hidden;
    border-bottom: solid 6px #975bb0;
    box-shadow: #c09fd1 2px 3px 2px;
}
.main_content{
    float:left;
    width:100%;
    overflow:hidden;
}

.main_content div{
    background-color: #fae7ff;
    padding:10px;
    margin-top: 10px;
}