

/**
 This is the style sheet for the appearance
 of the content of the page
**/
.header_top img{
    width:60px;
    height:65px;
    margin:8px;
    float:left;
}
.header_top h1{
    font-family:Calibri Light,AvantGarde BK BT,Helvetica,Verdana,Tahoma,sans-serif;
    margin-top: 0;
    font-size: 38px;
    color: #ffffff;
    text-shadow: #000 2px 3px 4px;
}

nav a, a:link, a:visited{
    display:block;
    width:150px;
    text-decoration: none;
    color: #591cb2;
}
nav ul{
     list-style-type: none;
 }
nav ul li{
    padding:2px;
    margin-bottom:2px;
    font-family:Calibri Light,AvantGarde BK BT,Helvetica,Verdana, sans-serif;
    font-weight: bold;
    border-bottom: solid 1px #975bb0;
}



nav a:hover, a:active {
    color: #fff;
    background-color: #591cb2;
}


.main_content h2, h3{
    font-family:AvantGarde BK BT,Helvetica,Verdana,Tahoma,sans-serif;;
    color: #975bb0;
    text-shadow: #e5c3f6 2px 2px 3px;
}